{% extends 'base.html' %}
{% block content %}
    <div action='contact' class='container ml-4 mt-4'>
        <a href="index" style="border:3px dotted blue; padding: 5px 5px">Home</a>
        <a href="sgtoapi" style="border:3px dotted blue; padding: 5px 5px">SG to API</a>
        <a href="apitosg" style="border:3px dotted blue; padding: 5px 5px">APT to SG</a>
        <div class='container' style="padding-top: 10px">
    <form method="POST">
        {% csrf_token %}
        <label for="name">Name</label><br>
        <input type="text" id="name" name="name"><br><br>

        <label for="email">Email</label><br>
        <input type="email" id="email" name="email"><br><br>
        
        <label for="desc">Message</label><br>
        <input type="text" id="desc" name="desc"><br><br>
        
        <input type="submit" value="Submit">
    </form>
</div>
    <b>{{message}}</b>

</div>
{% endblock %}